:root {
  --pink: #fd00be;;
  --orange: #ff7b00;
  --yellow: #ffe928;
  --green: #65fd00;
  --blue: #0400fd;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lobster {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 72px;
  /* text-shadow: -4px 0 blue, 0 4px blue, 4px 0 blue, 0 -4px blue; */
}

.head1 {
  padding: 10px;
  padding-top: 30px;
}

.ora {
  color: var(--orange)
}

.pink {
  color: var(--pink)
}

.yel {
  color: var(--yellow)
}

.gre {
  color: var(--green)
}

a.go {
  color: white;
  font-size:medium;
}

a.go:hover {
  color: var(--yellow)
}